In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler

In [2]:
ratings = pd.read_csv(r'C:\Users\adity\Documents\Machine Learning\Recommendation\DataSets\Movie1\ratings.csv')
ratings.head(10)

   user_id  movie_id  rating   timestamp
0      172     94969     5.0  1396067836
1      172     98956     4.0  1396067879
2      176     73881     4.0  1499807147
3      221      1900     4.5  1288550866
4      333     33688     4.0  1412015122
5      333     78408     2.0  1412015747
6      333     81111     3.0  1412015924
7      333     94190     5.0  1412016036
8      339    167038     0.5  1527515624
9      422     64650     5.0  1529609466

In [3]:
movies = pd.read_csv(r'C:\Users\adity\Documents\Machine Learning\Recommendation\DataSets\Movie1\titles.csv')
movies.head(10)

   movie_id                                              title
0       139                                      Target (1995)
1       568                          Bhaji on the Beach (1993)
2      1900  Children of Heaven  The (Bacheha-Ye Aseman) (1...
3      2284                                Bandit Queen (1994)
4      5985                    Asoka (Ashoka the Great) (2001)
5      6244                              Salaam Bombay! (1988)
6      6674               War and Peace (Jang Aur Aman) (2001)
7      6683                                        Fire (1996)
8      8971                                  Veer Zaara (2004)
9     27131                                      Dil Se (1998)

In [4]:
df = pd.merge(ratings, movies, how='left', on='movie_id')
df.head(10)

,user_id,movie_id,rating,timestamp,title
0,172,94969,5.0,1396067836,Kahaani (2012)
1,172,98956,4.0,1396067879,Barfi! (2012)
2,176,73881,4.0,1499807147,3 Idiots (2009)
3,221,1900,4.5,1288550866,Children of Heaven The (Bacheha-Ye Aseman) (1...
4,333,33688,4.0,1412015122,Parineeta (2005)
5,333,78408,2.0,1412015747,Salaam-E-Ishq (2007)
6,333,81111,3.0,1412015924,Peepli Live (2010)
7,333,94190,5.0,1412016036,Aakrosh (2010)
8,339,167038,0.5,1527515624,Dear Zindagi (2016)
9,422,64650,5.0,1529609466,Marriage Made in Heaven A (Rab Ne Bana Di Jod...

In [ ]:
df.shape

(17604, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17604 entries, 0 to 17603
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    17604 non-null  int64
 1   movie_id   17604 non-null  int64
 2   rating     17604 non-null  float64
 3   timestamp  17604 non-null  int64
 4   title      17604 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 687.8+ KB

In [ ]:
df.isnull().sum()

user_id      0
movie_id     0
rating       0
timestamp    0
title        0
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
movies_ratings = df.pivot_table(index='user_id', columns='movie_id', values='rating').fillna(0)
movies_ratings

movie_id,139,568,1900,2284,5985,6244,6674,6683,8971,27131,...,190823,191307,191311,191377,192515,192773,193073,193139,193635,193843
user_id,,,,,,,,,,,,,,,,,,,,,
172,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
221,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
339,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283116,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
283147,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
283175,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
283188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
283195,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
user_ratings = movies_ratings.T
user_ratings.head()

user_id,172,176,221,333,339,422,505,516,537,540,...,282784,282853,283000,283054,283095,283116,283147,283175,283188,283195
movie_id,,,,,,,,,,,,,,,,,,,,,
139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1900,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,0.0,4.5
2284,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
5985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
scaler = StandardScaler()
ratings_scaled = scaler.fit_transform(user_ratings)
ratings_scaled

array([[-0.05042353, -0.03585174, -0.03585174, ..., -0.03585174,
        -0.03585174, -0.05073463],
       [-0.05042353, -0.03585174, -0.03585174, ..., -0.03585174,
        -0.03585174, -0.05073463],
       [-0.05042353, -0.03585174, 27.89265136, ..., 27.89265136,
        -0.03585174, 19.71040334],
       ...,
       [-0.05042353, -0.03585174, -0.03585174, ..., -0.03585174,
        -0.03585174, -0.05073463],
       [-0.05042353, -0.03585174, -0.03585174, ..., -0.03585174,
        -0.03585174, -0.05073463],
       [-0.05042353, -0.03585174, -0.03585174, ..., -0.03585174,
        -0.03585174, -0.05073463]])

In [ ]:
movie_similarity = cosine_similarity(ratings_scaled)
movie_similarity

array([[ 1.        ,  0.01469829, -0.00516548, ..., -0.00496361,
        -0.00481318, -0.0184386 ],
       [ 0.01469829,  1.        ,  0.01429006, ..., -0.02505124,
        -0.02504126, -0.0959622 ],
       [-0.00516548,  0.01429006,  1.        , ..., -0.04171539,
        -0.04175278, -0.16000575],
       ...,
       [-0.00496361, -0.02505124, -0.04171539, ...,  1.        ,
         0.02551427,  0.09782028],
       [-0.00481318, -0.02504126, -0.04175278, ...,  0.02551427,
         1.        ,  0.10189663],
       [-0.0184386 , -0.0959622 , -0.16000575, ...,  0.09782028,
         0.10189663,  1.        ]])

In [ ]:
similarity = pd.DataFrame(movie_similarity, index=user_ratings.index, columns=user_ratings.index)
similarity

movie_id,139,568,1900,2284,5985,6244,6674,6683,8971,27131,...,190823,191307,191311,191377,192515,192773,193073,193139,193635,193843
movie_id,,,,,,,,,,,,,,,,,,,,,
139,1.000000,0.014698,-0.005165,-0.000400,-0.003369,-0.004746,0.004027,0.003473,-0.001802,-0.011422,...,-0.005506,-0.027030,-0.026658,-0.003117,-0.014092,-0.027030,-0.015907,-0.004964,-0.004813,-0.018439
568,0.014698,1.000000,0.014290,0.038811,-0.001324,0.012708,-0.011013,0.004783,-0.002738,-0.020301,...,-0.024524,-0.140215,-0.137487,-0.014669,-0.073423,-0.140215,-0.075465,-0.025051,-0.025041,-0.095962
1900,-0.005165,0.014290,1.000000,0.029244,0.004507,0.042145,-0.013368,0.017181,0.001674,-0.039414,...,-0.040602,-0.233760,-0.229157,-0.024350,-0.122430,-0.233760,-0.125318,-0.041715,-0.041753,-0.160006
2284,-0.000400,0.038811,0.029244,1.000000,0.014996,0.038829,-0.008172,0.021673,-0.000041,-0.021475,...,-0.025608,-0.146374,-0.143528,-0.015316,-0.076647,-0.146374,-0.078792,-0.026153,-0.026141,-0.100176
5985,-0.003369,-0.001324,0.004507,0.014996,1.000000,0.008166,-0.006498,0.006712,0.032688,-0.002762,...,-0.013047,-0.078426,-0.077007,-0.008404,-0.041025,-0.078426,-0.038172,-0.013068,-0.013997,-0.053633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192773,-0.027030,-0.140215,-0.233760,-0.146374,-0.078426,-0.149726,0.045049,-0.091367,-0.105602,-0.108434,...,0.151581,1.000000,0.998470,0.074793,0.435504,1.000000,0.508979,0.142293,0.148247,0.568361
193073,-0.015907,-0.075465,-0.125318,-0.078792,-0.038172,-0.080620,0.020061,-0.049803,-0.058132,0.158885,...,0.109389,0.508979,0.512373,0.034578,0.205549,0.508979,1.000000,0.093847,0.069953,0.268206
193139,-0.004964,-0.025051,-0.041715,-0.026153,-0.013068,-0.026754,0.007635,-0.016386,-0.018995,-0.012791,...,0.025841,0.142293,0.138414,0.012802,0.074958,0.142293,0.093847,1.000000,0.025514,0.097820
193635,-0.004813,-0.025041,-0.041753,-0.026141,-0.013997,-0.026740,0.008089,-0.016311,-0.018846,-0.019279,...,0.020299,0.148247,0.144247,0.013417,0.078077,0.148247,0.069953,0.025514,1.000000,0.101897
193843,-0.018439,-0.095962,-0.160006,-0.100176,-0.053633,-0.102470,0.031017,-0.062503,-0.072215,-0.073842,...,0.077831,0.568361,0.553028,0.051441,0.299339,0.568361,0.268206,0.097820,0.101897,1.000000

In [ ]:
def recommend_movies(movie_id, num_recommendations=5):
    
    similarity_movie = similarity[movie_id].sort_values(ascending=False)
    
    similarity_movie = similarity_movie.drop(movie_id)
    
    top_recommendations = similarity_movie.head(num_recommendations)
    
    return top_recommendations

In [ ]:
movies['movie_id'].unique()

array([   139,    568,   1900,   2284,   5985,   6244,   6674,   6683,
         8971,  27131,  27163,  27326,  27362,  27518,  27729,  30905,
        31600,  33688,  34435,  34466,  35828,  36083,  36086,  41650,
        42208,  45036,  46770,  48239,  50279,  51884,  52182,  55098,
        56167,  57183,  58111,  58933,  64650,  69136,  69187,  69269,
        71444,  71460,  71688,  72325,  72587,  72953,  73051,  73170,
        73513,  73881,  73900,  74404,  74406,  74426,  74641,  74787,
        76051,  76056,  76132,  76238,  76241,  76269,  76291,  77210,
        78192,  78196,  78408,  78410,  78488,  78557,  78873,  79195,
        79507,  79838,  79974,  80777,  81087,  81111,  81671,  82097,
        82154,  82902,  82906,  82980,  83004,  83038,  83264,  83266,
        83337,  83339,  83424,  83430,  83457,  83956,  84238,  84500,
        86438,  87882,  88065,  88069,  89554,  89632,  91241,  91250,
        91805,  91844,  93782,  93921,  93923,  94190,  94661,  94663,
        94725,  94900,  94969,  95697,  96086,  96275,  97042,  97254,
        97648,  98000,  98198,  98956,  99061,  99119,  99636,  99731,
       100336, 100727, 101640, 101664, 101719, 103050, 103363, 103639,
       103641, 103671, 104379, 104996, 105084, 105290, 105338, 105343,
       105477, 105599, 105884, 106064, 106462, 107707, 107853, 107883,
       108160, 108432, 108514, 109093, 109096, 109277, 109455, 109728,
       112501, 112594, 112640, 112903, 112905, 112907, 112909, 115973,
       116704, 117148, 117310, 117506, 118258, 118446, 118762, 119080,
       120138, 120486, 121133, 121370, 125479, 126152, 129437, 129786,
       129788, 130492, 130618, 131021, 132358, 132456, 132468, 132948,
       132950, 132952, 133229, 133389, 133695, 133697, 133699, 133767,
       133769, 133949, 134178, 134180, 134182, 134230, 134232, 134234,
       134236, 134238, 134240, 134330, 134332, 134334, 134336, 134338,
       134340, 134342, 134344, 134346, 134352, 134354, 134356, 134593,
       134777, 134779, 134781, 134815, 134867, 135204, 135224, 135494,
       135500, 135555, 135583, 135587, 135589, 135591, 135593, 135601,
       135603, 135725, 135729, 135731, 135733, 135735, 135737, 135761,
       135763, 135765, 135767, 135769, 135771, 135773, 135775, 135777,
       135781, 135783, 135789, 135791, 135795, 135797, 135799, 135819,
       135823, 135829, 135837, 135839, 135841, 135875, 135919, 136491,
       136493, 136497, 136848, 136986, 137112, 137490, 137593, 137920,
       138232, 138804, 139148, 139205, 139865, 140142, 141058, 141060,
       141100, 141102, 141120, 141162, 141201, 141203, 141702, 141704,
       142030, 142382, 142384, 142570, 142677, 142817, 142823, 142825,
       142829, 142831, 142833, 142835, 142837, 143164, 143565, 144684,
       144686, 144934, 144984, 145496, 145498, 146110, 146112, 146114,
       146116, 146118, 146120, 146122, 146124, 146126, 146128, 146130,
       146132, 146134, 146136, 146138, 146140, 146142, 146144, 146146,
       146148, 146150, 146152, 146154, 146156, 146158, 146160, 146162,
       146164, 146166, 146168, 146170, 146172, 146174, 146176, 146178,
       146180, 146182, 146184, 146186, 146188, 146190, 146192, 146216,
       146218, 146220, 146222, 146224, 146226, 146228, 146230, 146232,
       146234, 146236, 146238, 146240, 146242, 146244, 146246, 146248,
       146250, 146252, 146254, 146256, 146258, 146260, 146262, 146358,
       146360, 146362, 146364, 146366, 146368, 146370, 146372, 146374,
       146376, 146378, 146380, 146382, 146384, 146386, 146388, 146390,
       146392, 146394, 146396, 146398, 146400, 146402, 146404, 146406,
       146408, 146410, 146412, 147024, 147055, 147940, 148058, 148066,
       148070, 148811, 149606, 149670, 150268, 150296, 150320, 150322,
       150340, 150344, 151459, 151461, 151547, 151617, 151804, 151963,
       151965, 151967, 151969, 151971, 151973, 151975, 151977, 151979,
       151981, 151983, 151985, 151987, 151997, 152011, 152067, 152222,
       152338, 152340, 152342, 152344, 152346, 152348, 152350, 152352,
       152354, 152356, 152358, 152360, 152362, 152364, 152455, 152499,
       152557, 152593, 152689, 152808, 152810, 152812, 152814, 152816,
       152818, 152820, 152822, 152824, 152826, 152828, 152830, 152832,
       152834, 152836, 152868, 152870, 152872, 152874, 152876, 152878,
       152880, 152882, 152884, 152886, 152888, 152890, 152892, 152894,
       152896, 152898, 152900, 152902, 152904, 152978, 152980, 152982,
       152984, 152986, 152988, 152990, 152992, 152994, 152996, 152998,
       153000, 153006, 153008, 153012, 153020, 153028, 153030, 153032,
       153034, 153042, 153046, 153052, 153260, 153538, 153540, 153542,
       153546, 153548, 153550, 153552, 153554, 153556, 153558, 153560,
       153562, 153766, 153768, 153770, 153772, 153774, 153776, 153778,
       153780, 153782, 153784, 153790, 153792, 153794, 153796, 153798,
       153800, 153804, 153806, 153816, 153824, 153826, 153961, 153963,
       153996, 154015, 154075, 154077, 154085, 154154, 154158, 154160,
       154162, 154164, 154168, 154170, 154276, 154344, 154346, 154348,
       154350, 154352, 154458, 154460, 154462, 154464, 154466, 154468,
       154470, 154472, 154478, 154480, 154482, 154828, 154949, 155090,
       155285, 155460, 155575, 155758, 156375, 156545, 156587, 156589,
       156821, 157106, 157178, 157332, 158408, 158691, 158695, 158697,
       158876, 159065, 159207, 159215, 159437, 159606, 160273, 160277,
       160279, 160281, 160283, 160301, 160436, 160444, 160446, 160448,
       160450, 160452, 160454, 160456, 160458, 160460, 160462, 160464,
       160555, 161034, 161094, 161105, 161177, 161608, 162542, 162648,
       162656, 162668, 162672, 162744, 162844, 163046, 163312, 163454,
       163456, 163458, 163460, 163466, 163470, 163472, 163591, 164431,
       164443, 165607, 165723, 165901, 166151, 166818, 167038, 167392,
       167466, 167840, 167988, 168168, 168406, 168656, 168962, 169074,
       169482, 169888, 170459, 170637, 170989, 171737, 171751, 172387,
       173175, 173827, 173987, 174661, 175559, 175571, 175597, 175697,
       176063, 176249, 176331, 176697, 177095, 177815, 178079, 178329,
       178331, 178397, 178489, 178673, 178903, 178933, 179389, 179397,
       179697, 180269, 180359, 180601, 180845, 180885, 181035, 181051,
       181079, 181197, 181245, 181251, 181637, 181751, 182339, 182395,
       182563, 182705, 183231, 183383, 183385, 183717, 183813, 183979,
       184165, 184193, 184195, 184197, 184199, 184203, 184205, 184209,
       184211, 184213, 184215, 184217, 184219, 184221, 184223, 184225,
       184229, 184231, 184233, 184235, 184351, 184551, 184583, 184779,
       184781, 184941, 184993, 184995, 185211, 185225, 185459, 185601,
       186637, 186749, 186785, 186821, 187661, 187663, 188691, 189053,
       189319, 189687, 189861, 189875, 190307, 190665, 190763, 190765,
       190767, 190769, 190823, 191307, 191311, 191377, 192515, 192773,
       193073, 193139, 193635, 193843])

In [ ]:
movies[movies['movie_id']==27131]

   movie_id          title
9     27131  Dil Se (1998)

In [ ]:
movie_id = int(input("Enter the movie ID:"))
recommendation = recommend_movies(movie_id)
print("Recommended items")
for movie_id, similarity in recommendation.items():
    title = movies[movies['movie_id']==movie_id]['title'].values[0] if movie_id in movies['movie_id'].values else "Unknown"
    print(f"{title}")

Recommended items
Khamoshi: The Musical (1996)
No Smoking (2007)
Roja (1992)
Duplicate (1998)
Raavan (2010)